@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{margin: 0;
    font-family: 'Poppins', sans-serif;}

*{box-sizing: border-box;
  margin: 0;}

.container{max-width: 1000px;
           margin: auto;}

.row{display: flex;
     flex-wrap: wrap;}   
     
/*Header*/    

header{border-bottom: 1px solid #423940;
       position: absolute;
       left: 0px;
       right: 0px;
       padding: 0px 15px;
       z-index: 10;}

header .row{justify-content: space-between;
            align-items: center;}       

header .brand-name a{text-decoration: none;
                     font-size: 22px;
                     font-weight: 600;
                     color: white;
                     text-transform: uppercase;
                     position: relative;}



header .navbar ul {list-style: none;
                   padding: 0;
                   margin: 0;}

header .navbar ul li {display: inline-block;
                      margin-left: 35px;}

header .navbar ul li a {font-size: 15px;
                        text-decoration: none;
                        line-height: 72px;
                        color: white;
                        font-weight: 600;
                        position: relative;}


header .navbar ul li a::before {content: "";
                                height: 3px;
                                width: 0%;
                                background-color: white;
                                position: absolute;
                                right: 0px;
                                bottom: -1px;
                                transition: all .5s ease;}

header .navbar ul li a:hover::before{width: 100%;
                                    left: 0;} 
                                      

header .navbar ul li a:active::before{width: 100%;
                                      left: 0;} 

/*Home Section*/


.home{min-height: 100vh;
     background-image: url("images/web11.jpg");
     background-size: cover;
     background-position: left;
     padding: 15px;}

.home .full-screen{min-height: 100vh;} 


.home .home-content{flex: 0 0 100%;
                    max-width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;} 
                    
.home .home-content .block{flex: 0 0 700px;
                           max-width: 700%;
                           padding-left: 35px;
                           border-left: 5px solid white;
                           margin-top: 50px;}


.home .home-content .block h6{color: white;
                              font-size: 18px;
                              font-weight: 500;
                              margin: 0;
                              padding: 0;}

.home .home-content .block h1{color: white;
                              font-size: 50px;
                              font-weight: 600;
                              margin: 0;
                              padding: 0;}



.home .home-content .block h3{color: white;
                              font-size: 25px;
                              font-weight: 500;
                              margin: 0;
                              padding: 0;}


.home .home-content .block .cv-btn{padding-top: 20px;}   


.home .home-content .block .cv-btn a{border-radius: 4px;
                                     color: white;
                                     border: 1px solid white;
                                     padding: 12px 25px;
                                     text-decoration: none;
                                     display: inline-block;
                                     font-size: 14px;
                                     text-transform: none;
                                     font-weight: 600;
                                     transition: all .5s ease;
                                     background-color: transparent;}


.home .home-content .block .cv-btn a:hover{background-color: white;
                                           color: #000000;}


/*About Me*/

.about-me{padding: 100px 15px;
          background-color: #ffffff;}



.about-me .section-title{flex: 0 0 100%;
                         max-width: 100%;
                         margin-bottom: 40px;}



.about-me .section-title h1{display: inline-block;
                            font-size: 35px;
                            text-transform: uppercase;
                            font-weight: 700;
                            color: black;
                            margin: 0px 0px 5px;
                            position: relative;}



.about-me .section-title h1:before{content: '';
                                   left: 0;
                                   position: absolute;
                                   height: 2px;
                                   right: 0px;
                                   background-color: cadetblue;
                                   bottom: 0px;}



.text-uppercase{text-transform: uppercase!important;}



.about-me .section-title p.small{display: block;
                                 font-size: 14px;
                                 color: #838383;
                                 font-weight: 400;
                                 letter-spacing: 2px;}







.about-me .about-content .img{flex: 0 0 33.33%;
                              max-width: 33.33%;}



.about-me .about-content .img img{width: 77%;}


.about-me .about-content .text{flex: 0 0 66.66%;
                               max-width: 66.66%;
                               padding-left: 10px;}


.about-me .about-content .text h4{font-size: 25px;
                                  font-weight: 600;
                                  margin: 0 0 10px;
                                  color:black;}


.about-me .about-content .text h6{font-size: 18px;
                                  font-weight: 500;
                                  margin: 0 0 10px;
                                  color: red;}

.about-me .about-content .text p{font-size: 15px;
                                 font-weight: 400;
                                 line-height: 24px;}

.about-me .about-content .text .info{display: flex;
                                     flex-wrap: wrap;
                                     justify-content: space-between;
                                     margin-top: 10px;}               
                                     

.about-me .about-content .text .info .list{flex: 0 0 calc(50% - 15px);
                                           max-width: 0 0 calc(50% - 15px);
                                           margin-top: 10px;
                                           display: flex;
                                           flex-wrap: wrap;
                                           border-bottom: 1px solid;
                                           padding-bottom: 10px;}

.about-me .about-content .text .info .list label{padding-right: 10px;
                                                 color: black;
                                                 font-weight: 600;
                                                 font-size: 15px;}

.about-me .about-content .text .info .list p{margin: 0;
                                             font-size: 15px;
                                             font-weight: 400;
                                             line-height: 24px;
                                             color: black;}

/*....skills....*/

.skills{padding: 30px 15px;
        background-color: lightgrey;
        }

.skills .skills-content{flex: 0 0 50%;
                        max-width: 50%;
                        padding-right: 30px;}

.skills .img {flex: 0 0 50%;
              max-width: 50%;}

.align-items-center{align-items: center;}            

.skills .img img{width: 100%;
                 display: block;}

.skills .skills-content .section-title p{font-size: 15px;
                                         font-weight: 500;
                                         line-height: 24px;
                                         color: black;
                                         margin: 15px 0 13px;}

.skills .skills-content .skill-box{color: black;
                                   flex: 0 0 100%;
                                   margin-bottom: 30px;}

.skills .skills-content .skill-box h6{font-size: 16px;
                                      font-weight: 700;
                                      color: black;
                                      margin: 0 0 6px;}


.skills .skills-content .skill-box .skills-bar{height: 6px;
                                              background-color: black;}


.skills .skills-content .skill-box .skills-bar .skills-bar-in{background-color: #febd01;
                                                              position: relative;
                                                              left: 0;
                                                              top: 0;
                                                              height: 100%;}
                                                                                                         
.skills .skills-content .skill-box .skills-bar .skills-bar-in span{color: black;
                                                                   font-size: 15px;
                                                                   font-weight: 700;
                                                                   position: absolute;
                                                                   right: 0;
                                                                   top: -30px;}

/*----contact-----*/

.contact-form{width: 100%;
              max-width: 1100px;
              position: absolute;
              padding: 60px 20px;
              padding-right: 25px;
              box-sizing: border-box;
              border-radius: 8px;
              text-align: center;
              box-shadow: 0 0 20px #000000b3;}

.contact-form h1{margin-top: 0;
                 font-weight: 600;
                 font-size: 25px;}

.txtb{border: 1px solid gray;
      margin: 8px 0;
      padding: 12px 18px;
      border-radius: 8px;}

.txtb label{display: block;
           text-align: left;
           color: #333;
           text-transform: uppercase;
           font-size: 13px;}

.txtb input, .txtb textarea{width: 100%;
                            border: none;
                            background: none;
                            outline: none;
                            font-size: 18px;
                            margin-top: 6px;}

.btn{display: inline-block;
     background: gray;
     padding: 15px 0;
     cursor: pointer;
     margin-top: 8px;
     width: 100%;}



